<%= form_tag(photos_path, action: :post, id: 'form-upload', multipart: true) do %>
  <input id="input-upload", name="image", type="file", accept="image/*" />
  <button id="button-upload"name="button" type="button" class="btn btn-primary btn-lg"><strong>Upload&nbsp;&nbsp;&nbsp;</strong><i class="fa fa-upload"></i></button>
<% end %>